{{>dashboard}}
   <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
 <main>
      <div class="py-6">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
          <h1 class="text-2xl font-semibold text-gray-900">Analytics</h1>
        </div>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
          <!-- Replace with your content -->
<div class="px-4 mx-auto mt-8 sm:px-6 md:px-8">
                        <div class="space-y-5 sm:space-y-6">
                            <div class="grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
                                <div class="bg-white border border-gray-200 rounded-xl">
                                    <div class="px-5 py-4">
                                        <p class="text-xs font-medium tracking-wider text-gray-500 uppercase">Audience</p>
                                        <div class="flex items-center justify-between mt-3">
                                            <p class="text-xl font-bold text-gray-900">$12,426</p>

                                            <span class="inline-flex items-center text-sm font-semibold text-green-500">
                                                + 36%
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-0.5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-white border border-gray-200 rounded-xl">
                                    <div class="px-5 py-4">
                                        <p class="text-xs font-medium tracking-wider text-gray-500 uppercase">Engagement</p>
                                        <div class="flex items-center justify-between mt-3">
                                            <p class="text-xl font-bold text-gray-900">$2,38,485</p>

                                            <span class="inline-flex items-center text-sm font-semibold text-red-500">
                                                - 14%
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-0.5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-white border border-gray-200 rounded-xl">
                                    <div class="px-5 py-4">
                                        <p class="text-xs font-medium tracking-wider text-gray-500 uppercase">Impressions</p>
                                        <div class="flex items-center justify-between mt-3">
                                            <p class="text-xl font-bold text-gray-900">84,382</p>

                                            <span class="inline-flex items-center text-sm font-semibold text-green-500">
                                                + 36%
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-0.5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
          </div>

                                <div class="bg-white border border-gray-200 rounded-xl">
                                    <div class="px-5 py-4">
                                        <p class="text-xs font-medium tracking-wider text-gray-500 uppercase">Brand Awareness</p>
                                        <div class="flex items-center justify-between mt-3">
                                            <p class="text-xl font-bold text-gray-900">33,493</p>

                                            <span class="inline-flex items-center text-sm font-semibold text-green-500">
                                                + 36%
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-0.5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         

        <div class="max-w-7xl mx-auto">
            <div class="overflow-hidden bg-white border border-gray-200 rounded-xl">
                <div class="px-4 pt-5 sm:px-6">
                    <div class="flex flex-wrap items-center justify-between">
                        <p class="text-base font-bold text-gray-900 lg:order-1">Total Audiences</p>

                        <button
                            type="button"
                            class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm lg:order-2 2xl:order-3 md:order-last hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                        >
                            <svg class="w-4 h-4 mr-1 -ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                            </svg>
                            Export to CSV
                        </button>

                        <nav class="flex items-center justify-center mt-4 space-x-1 2xl:order-2 lg:order-3 md:mt-0 lg:mt-4 sm:space-x-2 2xl:mt-0">
                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-900 transition-all border border-gray-900 rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 12 Months </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 6 Months </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 30 Days </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 7 Days </a>
                        </nav>
                    </div>

                    <div id="chart4" class="mt-6"></div>
                </div>
            </div>
        </div>
   <div class="max-w-7xl mx-auto">
            <div class="overflow-hidden bg-white border border-gray-200 rounded-xl">
                <div class="px-4 pt-5 sm:px-6">
                    <div class="flex flex-wrap items-center justify-between">
                        <p class="text-base font-bold text-gray-900 lg:order-1">Total Engagement</p>

                        <button
                            type="button"
                            class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm lg:order-2 2xl:order-3 md:order-last hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                        >
                            <svg class="w-4 h-4 mr-1 -ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                            </svg>
                            Export to CSV
                        </button>

                        <nav class="flex items-center justify-center mt-4 space-x-1 2xl:order-2 lg:order-3 md:mt-0 lg:mt-4 sm:space-x-2 2xl:mt-0">
                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-900 transition-all border border-gray-900 rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 12 Months </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 6 Months </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 30 Days </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 7 Days </a>
                        </nav>
                    </div>

                    <div id="chart4" class="mt-6"></div>
                </div>
            </div>
        </div>
 <div class="max-w-7xl mx-auto">
            <div class="overflow-hidden bg-white border border-gray-200 rounded-xl">
                <div class="px-4 pt-5 sm:px-6">
                    <div class="flex flex-wrap items-center justify-between">
                        <p class="text-base font-bold text-gray-900 lg:order-1">Total Impressions</p>

                        <button
                            type="button"
                            class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm lg:order-2 2xl:order-3 md:order-last hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                        >
                            <svg class="w-4 h-4 mr-1 -ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                            </svg>
                            Export to CSV
                        </button>

                        <nav class="flex items-center justify-center mt-4 space-x-1 2xl:order-2 lg:order-3 md:mt-0 lg:mt-4 sm:space-x-2 2xl:mt-0">
                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-900 transition-all border border-gray-900 rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 12 Months </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 6 Months </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 30 Days </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 7 Days </a>
                        </nav>
                    </div>

                    <div id="chart4" class="mt-6"></div>
                </div>
            </div>
        </div>
         <div class="max-w-7xl mx-auto">
            <div class="overflow-hidden bg-white border border-gray-200 rounded-xl">
                <div class="px-4 pt-5 sm:px-6">
                    <div class="flex flex-wrap items-center justify-between">
                        <p class="text-base font-bold text-gray-900 lg:order-1">Brand Awareness</p>

                        <button
                            type="button"
                            class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm lg:order-2 2xl:order-3 md:order-last hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                        >
                            <svg class="w-4 h-4 mr-1 -ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                            </svg>
                            Export to CSV
                        </button>

                        <nav class="flex items-center justify-center mt-4 space-x-1 2xl:order-2 lg:order-3 md:mt-0 lg:mt-4 sm:space-x-2 2xl:mt-0">
                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-900 transition-all border border-gray-900 rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 12 Months </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 6 Months </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 30 Days </a>

                            <a href="#" title="" class="px-2 py-2 text-xs font-bold text-gray-500 transition-all border border-transparent rounded-lg sm:px-4 hover:bg-gray-100 dration-200"> 7 Days </a>
                        </nav>
                    </div>

                    <div id="chart4" class="mt-6"></div>
                </div>
            </div>
        </div>
<script>
    var chart4Options = {
        chart: {
            type: 'area',
            height: 350,
            toolbar: {
                show: false,
            },
            zoom: {
                enabled: false,
            },
        },
        series: [
            {
                name: 'New user',
                data: [76, 85, 101, 98, 87, 105, 91, 114, 94, 76, 85, 101],
            },
            {
                name: 'Returning user',
                data: [44, 55, 57, 56, 61, 58, 63, 60, 66, 44, 55, 57],
            },
        ],
        dataLabels: {
            enabled: false,
        },
        stroke: {
            show: true,
            curve: 'smooth',
            colors: undefined,
            width: 2,
        },
        grid: {
            row: {
                opacity: 0,
            },
        },
        xaxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        },
        yaxis: {
            show: false,
        },
        fill: {
            type: 'solid',
            opacity: [0.05, 0],
        },
        colors: ['#4F46E5', '#818CF8'],
        legend: {
            position: 'bottom',
            markers: {
                radius: 12,
                offsetX: -4,
            },
            itemMargin: {
                horizontal: 12,
                vertical: 20,
            },
        },
    }

    var chart4 = new ApexCharts(document.querySelector('#chart4'), chart4Options)

    chart4.render()
</script>

              <!-- /End replace -->
        </div>
      </div>
    </main>