  <body class="bg-white flex items-center justify-center h-screen">
    <div class="py-12">
        <img src="/images/girl-opening-confirmation-letter.gif" alt="verify email address" class="w-96 mx-auto mb-4">
      <h1 class="text-2xl font-medium text-primary-600">Please Check Your Email</h1>
      <p class="text-gray-600">We've sent a message to your email address. Please follow the instructions in the email to continue.</p>
    </div>
  </body>